@charset "utf-8";

@font-face {
    /* 더잠실체 font-family 복사 */
    font-family: 'TheJamsil5Bold'; /* sans-serif 추가 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a { text-decoration: none; color: inherit;}
body { background: #f2f6f7; color: #333;}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* 내비게이션 */
#nav { 
    width: 100%;
    height: 200px;
    background: #bcd0e2;
}
#nav > nav {
    width: 1200px;
    margin: 0 auto;
}
/* nav-top */
#nav-top {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}
#nav-search, #nav-logo, #nav-menu { margin: 30px auto;}
/* 제품 검색 */
#nav-search {
    position: relative;
    margin-left: 0;
    /* background: palegoldenrod; */
}
#nav-search > input {
    border-style: none;
    border-bottom: 1px solid #cc071e;
    background: transparent;
    color: #333;
    text-align: center;
    padding: 10px 0 5px 0;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
input:focus { outline: none;}
input::placeholder { color: #cc071e; opacity: 0.5;}
#search-btn {
    border: none;
    background: transparent;
    position: absolute;
    left: 15px;
    top: 15px;
    transform: translate(-50%, -50%);
    background: url(../images/mainpage/nav-search.png) no-repeat;
    width: 25px;
    height: 28px;
    cursor: pointer;
    padding: 15px;
}
/* 로고 */
#nav-logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nav-logo > a { display: block;}
/* 아이콘메뉴 */
#nav-menu {
    margin-right: 0;
    display: flex;
    /* background-color: lightgoldenrodyellow; */
}
#nav-menu > a { display: block;}
#nav-menu > a > img { margin-right: 30px;}
#nav-menu > a:last-child > img { margin-right: 0;}

/* nav-bottom */
#nav-bottom {
    /* background: #aaa; */
    display: flex;
    color: #cc071e;
    justify-content: space-between;
    position: relative;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#nav-bottom > li > a { 
    display: block;
    padding: 20px;
}
/* nav-slide */
.nav-slide {
    z-index: 50;
    background: #e2eaec;
    width: 1200px;
    position: absolute;
    top: 98%;
    left: 0;
    color: #333;
    padding: 30px 0;
}
.nav-sub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto));
    /* 열의 배치, 너비가 허용하는 한 최대한 셀을 채움 */
}
/* .nav-sub { display: none;} */
.nav-sub > li {
    margin: 0 20px;
    padding-bottom: 30px;
}
.nav-sub > li > ul { margin-top: 15px;}
.nav-sub > li > ul > li { margin-top: 5px;}
.nav-sub > li > span {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nav-sub > li > span > a { display: block;}
.nav-sub > li > span > a:hover {
    color: #cc071e;
    text-decoration: underline;
}
.nav-sub > li > ul > li > a { display: block;}
.nav-sub > li > ul > li > a:hover { 
    color: #cc071e;
    text-decoration: underline;
}

#sub-1, #sub-2, #sub-3, #sub-4, #sub-5, #sub-6 { display: none;}

/* sub-1 : Women */
/* #sub-2, #sub-3, #sub-4, #sub-5, #sub-6 { display: none;} */
#sub-1 > ul > li > ul { margin-bottom: 50px;}
#sub-1 > ul > li:nth-child(2) > span {
    display: block;
    margin-bottom: 50px;
}
#sub-1 > ul > li:last-child > span { margin-bottom: 0;}

/* sub-2 : Men */
/* #sub-1, #sub-3, #sub-4, #sub-5, #sub-6 { display: none;} */

/* sub-3 : Baby & Kids */
/* #sub-1, #sub-2, #sub-4, #sub-5, #sub-6 { display: none;} */

/* sub-4 : H&M HOME */
/* #sub-1, #sub-2, #sub-3, #sub-5, #sub-6 { display: none;} */

/* sub-5 : Sport */
/* #sub-1, #sub-2, #sub-3, #sub-4, #sub-6 { display: none;} */

/* sub-6 : About */
/* #sub-1, #sub-2, #sub-3, #sub-4, #sub-5 { display: none;} */

/* 로컬네비게이션 */
#lnb { 
    display: flex;
    width: 1200px;
    margin: 40px auto;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#lnb > li {
    margin-right: 15px;
}
#lnb > li > a { 
    background: url(../images/listpage/localnav.png) no-repeat right center / 11px auto;
    padding-right: 30px;
}
#lnb > li:last-child { color: #cc071e;}

/* 카테고리 */
#product-box {
    width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#product > li:nth-child(5) { display: none;}
#product > li:nth-child(6) { display: none;}
#product > li > a {
    display: block;
    text-align: center;
    padding: 5px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* 버튼 */
#product-box > button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 40px;
    margin-bottom: 10px;
}
#p-btn-left {
    order: -1;
    background: url(../images/listpage/button-left.svg) no-repeat center / 20px auto;
}
#p-btn-left > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    display: block;
}
#p-btn-right { background: url(../images/listpage/button-right.svg) no-repeat center / 20px auto;}
#p-btn-right > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    display: block;
}

/* 셔츠 & 블라우스 설명 */
#comment {
    margin: 90px auto 60px;
    width: 1200px;
    text-align: center;
}
#comment > h2 {
    font-size: 25px;
    padding-bottom: 30px;
    text-align: left;

    font-family: 'TheJamsil5Bold', sans-serif;
}
#comment > p {
    line-height: 1.8;
    text-align: left;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#comment > p > a { color: #cc071e;}
#comment > p > a:hover { 
    text-decoration: underline;
    cursor: pointer;
}
/* 세부 필터 적용 */
#filter {
    margin: 90px;
    cursor: pointer;

    border: 1px solid #cc071e;
    padding: 0 20px 0 20px;
    line-height: 55px;
    background: transparent;
    border-radius: 50px;
    color: #cc071e;
    font-size: 15px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#filter:hover {
    background: #cc071e;
    color: #fff;
}

/* list */
#list-shirt {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
#list-shirt > li { margin-bottom: 60px;}
#list-shirt > li > a { display: block;}
#list-shirt > li > a > img { 
    width: 350px;
    display: block;
}
/* items-text */
.items-text { margin-top: 20px;}
.items-text > a { display: block;}
.items-text > a > h3 {
    margin-bottom: 10px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.items-text > h4 {
    font-size: 15px;
    margin-bottom: 10px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#special-price { font-size: 14px;}

/* color */
.items-color {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
}
.items-color > ul {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.items-color > ul > li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.items-color > ul > li > a {
    text-indent: -9999px;
    display: block;
}
.more-swatches {
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}
/* list-1 color */
#color-1 > li:nth-child(1) { background: #dcd9ce;}
#color-1 > li:nth-child(2) { background: #272628;}

/* list-2 color */
#color-2 > li:nth-child(1) { background: #bdc5e4;}
#color-2 > li:nth-child(2) { background: #fff;}
#color-2 > li:nth-child(3) { background: #272628;}
#color-2 > li:nth-child(4) { background: #6b7ab4;}

/* list-3 color */
#color-3 > li:nth-child(1) { background: #8796cb;}
#color-3 > li:nth-child(2) { background: #272628;}
#color-3 > li:nth-child(3) { background: #fff;}
#color-3 > li:nth-child(4) { background: #b3ab98;}

/* list-4 color */
#color-4 > li:nth-child(1) { background: #395ea0;}

/* list-5 color */
#color-5 > li:nth-child(1) { background: #5881bb;}
#color-5 > li:nth-child(2) { background: #fff;}
#color-5 > li:nth-child(3) { background: #272628;}

/* list-6 color */
#color-6 > li:nth-child(1) { background: #fff;}

/* list-7 color */
#color-7 > li:nth-child(1) { background: #fff;}
#color-7 > li:nth-child(2) { background: #fff;}

/* list-8 color */
#color-8 > li:nth-child(1) { background: #f4f3e9;}
#color-8 > li:nth-child(2) { background: #f0efec;}
#color-8 > li:nth-child(3) { background: #859dd6;}
#color-8 > li:nth-child(4) { background: #b5afa0;}

/* list-9 color */
#color-9 > li:nth-child(1) { background: #cdb8b1;}
#color-9 > li:nth-child(2) { background: #eeede1;}
#color-9 > li:nth-child(3) { background: #272628;}
#color-9 > li:nth-child(4) { background: #272628;}

/* list-10 color */
#color-10 > li:nth-child(1) { background: #bdc5e4;}
#color-10 > li:nth-child(2) { background: #fff;}

/* list-11 color */
#color-11 > li:nth-child(1) { background: #79829d;}
#color-11 > li:nth-child(2) { background: #666b75;}
#color-11 > li:nth-child(3) { background: #8898ac;}

/* list-12 color */
#color-12 > li:nth-child(1) { background: #fff;}


/* pagination */
#pagination {
    /* background-color: #ccc; */
    text-align: center;
    color: #cc071e;
    margin: 60px auto 80px;
}
#pagination-text {
    font-size: 17px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#btn-more {
    margin-top: 35px;
    cursor: pointer;

    border: 1px solid #cc071e;
    padding: 0 25px 0 25px;
    line-height: 50px;
    background: transparent;
    border-radius: 50px;
    color: #cc071e;
    font-size: 15px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#btn-more:hover {
    background: #cc071e;
    color: #fff;
}


/* footer */
#footer {
    width: 100%;
    background: #172244;
    color: #f2f6f7;
    padding: 50px 0;
    font-size: 14px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#footer-box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* 고객지원 */
#customer > h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
}
#customer > ul > li > a {
    display: block;
    margin-top: 10px;
    line-height: 1.3;
}
#customer > ul > li:last-child { font-weight: 700;}

/* 기업정보 */
#company > h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
}
#company > ul > li > a {
    display: block;
    margin-top: 10px;
    line-height: 1.3;
}
/* sns & copyR */
/* sns */
#footer-sns-copy {
    text-align: right;
    margin-left: 40px;
}
#sns-menu {
    display: flex;
    justify-content: flex-end;
}
#sns-menu > li > a {
    display: block;
    margin-left: 25px;
}
/* copyR */
#copyR {
    margin-top: 150px;
    line-height: 1.3;
}
#notice { font-size: 16px;}
#copyR > p { margin-top: 10px;}
#f-link > a:hover { text-decoration: underline;}