@charset "utf-8";

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a { text-decoration: none; color: inherit;}
body { background: #f2f6f7; color: #333; min-height: 100vh;}
html { height: 100%;}

/* 내비게이션 */
#nav { 
    width: 100%;
    height: 170px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 200;
    border-bottom: 1px solid #bcd0e2;
}
#nav > nav {
    width: 1200px;
    margin: 0 auto;
}
/* nav-top */
#nav-top {
    display: flex;
    padding: 18px 0;
}

/* 제품 검색 */
#nav-search {
    position: relative;
    margin: 20px auto 10px;
    width: 33.333%;
}
#nav-search > input {
    border-style: none;
    border-bottom: 1px solid #cc071e;
    background: transparent;
    color: #333;
    text-align: center;
    padding: 10px 0 5px 0;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
input:focus { outline: none;}
input::placeholder { color: #cc071e; opacity: 0.5;}
#search-btn {
    border: none;
    background: transparent;
    position: absolute;
    left: 15px;
    top: 20px;
    transform: translate(-50%, -50%);
    background: url(../images/mainpage/nav-search.png) no-repeat;
    background-size: 20px;
    cursor: pointer;
    padding: 15px;
}

/* 로고 */
#nav-logo {
    width: 33.333%;
    text-align: center;
}
#nav-logo > a { 
    display: block; 
    margin: 20px auto 10px;
}
#nav-logo > a > img { width: 70px;}

/* 아이콘 메뉴 */
#nav-menu {
    display: flex;
    margin: 20px auto 10px;
    width: 33.333%;
    justify-content: flex-end;
    align-items: center;
}
#nav-menu > li { margin-right: 30px;}
#nav-menu > li:last-child { margin-right: 0;}
#nav-menu > li > a { display: block;}
#nav-menu > li > a > img { 
    width: 23px;
    display: block;
}

/* nav-bottom */
#nav-bottomBg { 
    width: 100%;
    position: absolute;
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    transition: background-color 300ms;
}
#nav-bottom {
    display: flex;
    color: #cc071e;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#nav-bottomBg.fixed {
    position: fixed;
    top: 0;
    background-color: #bcd0e2d5;
    transition: background-color 1000ms;
}
#nav.fixed { background-color: transparent;}
#nav-bottom > li > a {
    display: block;
    padding: 20px 20px 17px;
}

/* nav-slide */
.nav-slide {
    z-index: 50;
    background: #e2eaece8;
    width: 1200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    padding: 30px 0;
}
.nav-sub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto));
}
.nav-sub > li {
    margin: 0 20px;
    padding-bottom: 30px;
}
.nav-sub > li > ul { margin-top: 15px;}
.nav-sub > li > ul > li { margin-top: 5px;}
.nav-sub > li > span {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nav-sub > li > span > a { display: block;}
.nav-sub > li > span > a:hover {
    color: #cc071e;
    text-decoration: underline;
}
.nav-sub > li > ul > li > a { display: block;}
.nav-sub > li > ul > li > a:hover {
    color: #cc071e;
    text-decoration: underline;
}
#listpage, #expage { text-decoration: underline;}
#sub-1, #sub-2, #sub-3, #sub-4, #sub-5, #sub-6 { display: none;}

/* sub-1 : Women */
#sub-1 > ul > li > ul { margin-bottom: 50px;}
#sub-1 > ul > li:nth-child(2) > span {
    display: block;
    margin-bottom: 50px;
}
#sub-1 > ul > li:last-child > span { margin-bottom: 0;}

/* 로컬네비게이션 */
#lnb { 
    display: flex;
    width: 1200px;
    margin: 50px auto 70px;
    font-size: 14px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#lnb > li {
    margin-right: 23px;
    background: url(../images/listpage/localnav.png) no-repeat right center / 11px auto;
    padding-right: 30px;
}
#lnb > li > a { display: block;}
#lnb > li:last-child { 
    color: #cc071e;
    background: none;
    padding-right: 0;
    margin-right: 0;
}


/* 셔츠 & 블라우스 설명 */
#comment {
    margin: 90px auto 60px;
    width: 1200px;
    text-align: center;
    border-bottom: 1px solid #1722443f;
    padding-bottom: 70px;

    position: relative;
}
#comment > h2 {
    font-size: 25px;
    padding-bottom: 30px;
    text-align: left;

    font-family: 'TheJamsil5Bold', sans-serif;
}
#comment > p {
    line-height: 1.8;
    text-align: left;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#comment > p > a { color: #cc071e;}
#comment > p > a:hover { 
    text-decoration: underline;
    cursor: pointer;
}

/* 카테고리 */
#category {
    width: 1200px;
    margin: 60px auto 0;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#category > h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 55px;
}
#category-menu {
    display: flex;
    justify-content: center;
    font-size: 15px;
}
#category-menu > li { margin: 0 20px;}
#category-menu > li > a { 
    display: block;
    color: #3333337a;
}
#category-menu > li:first-child > a { 
    color: #333;
    font-weight: 800;
}
#category-menu > li:not(:first-child) > a:hover {
    color: #333;
    transition: color 300ms ease;
}


/* 세부 필터 적용 */
#filter {
    margin: 90px;
    cursor: pointer;

    border: 1px solid #cc071e;
    padding: 0 20px 0 20px;
    line-height: 55px;
    background: transparent;
    border-radius: 50px;
    color: #cc071e;
    font-size: 15px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#filter:hover {
    background: #cc071e;
    color: #fff;
}
/* 세부 필터 적용 팝업 */
#modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 300;
    display: none;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
}
#modal > span { 
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
#filter-popup {
    background: #f2f6f7;
    height: 90%;
    width: 300px;
    border: 3px solid #bcd0e2;
    border-radius: 35px;
    padding: 30px;
    z-index: 400;

    display: none;

    position: fixed;
    top: 50%;
    right: -10.5%;
    transform: translate(-50%, -50%);
}
#filter-popup > h2 {
    font-size: 23px;
    color: #172244;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#filter-type {
    margin: 25px 0 20px 0;
    font-size: 13px;
    
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#filter-type > li {
    border-radius: 15px;
    margin: 5px 0 5px 0;
}
#filter-type > li > button {
    border: 1px solid #bcd0e2;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 7px 10px;
    border-radius: 15px;
    cursor: pointer;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    position: relative;
}
#filter-type > li > button::before {
    background: url(../images/listpage/hm-popup.svg) no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    content: "";

    position: absolute;
    top: 7px;
    right: 7%;
    transform: translate(50%);
}
#filter-type > li:last-child { margin: 0;}
#filter-type > li > button:hover { background: #bcd0e2;}
.filter-content {
    border: 1px solid #bcd0e2;
    border-radius: 15px;
    margin-top: 3px;

    display: none;
}
.filter-content > li { padding: 3px;}
.filter-content > li:hover {
    background-color: #bcd0e24f;
    border-radius: 15px;
}
.filter-content > li > label {
    display: inline-block;
    cursor: pointer;
}
#buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 30px;
}
#buttons > button {
    outline: none;
    background-color: transparent;
    border: 1px solid #bcd0e2;
    border-radius: 20px;
    color: #172244;
    padding: 10px;
    margin-bottom: 13px;
    width: 300px;
    cursor: pointer;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#buttons > button:last-child { margin-bottom: 0;}
#buttons > button:hover { background: #bcd0e2;}


/* list */
#list-shirt {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
#list-shirt > li { 
    margin-bottom: 60px;
    position: relative;
}
#list-shirt > li > a { 
    display: block;
    border-radius: 60px;
    overflow: hidden;
}
#list-shirt > li > a > img { 
    width: 350px;
    height: 390px;
    display: block;
    border-radius: 60px;
}
.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* items-text */
.items-text { margin-top: 20px;}
.items-text > a { display: block;}
.items-text > a > h3 {
    margin-bottom: 10px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.items-text > h4 {
    font-size: 15px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* color */
.items-color {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}
.items-color > ul {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.items-color > ul > li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.items-color > ul > li > a {
    text-indent: -9999px;
    display: block;
}
.more-swatches {
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}

/* list-1 color */
#color-1 > li:nth-child(1) { background: #dcc7b6;}
#color-1 > li:nth-child(2) { background: #aeab86;}
#color-1 > li:nth-child(3) { background: #94989f;}
#color-1 > li:nth-child(4) { background: #e5d9c4;}

/* list-2 color */
#color-2 > li:nth-child(1) { background: #272628;}
#color-2 > li:nth-child(2) { background: #999a9e;}

/* list-3 color */
#color-3 > li:nth-child(1) { background: #666b75;}
#color-3 > li:nth-child(2) { background: #79829d;}
#color-3 > li:nth-child(3) { background: #8898ac;}
#color-3 > li:nth-child(4) { background: #4c5164;}

/* list-4 color */
#color-4 > li:nth-child(1) { background: #f0eeed;}
#color-4 > li:nth-child(2) { background: #9c9ea5;}

/* list-5 color */
#color-5 > li:nth-child(1) { background: #272628;}
#color-5 > li:nth-child(2) { background: #eeede1;}
#color-5 > li:nth-child(3) { background: #677081;}

/* list-6 color */
#color-6 > li:nth-child(1) { background: #5881bb;}

/* list-7 color */
#color-7 > li:nth-child(1) { background: #f0eeed;}
#color-7 > li:nth-child(2) { background: #ecc699;}

/* list-8 color */
#color-8 > li:nth-child(1) { background: #f3f3f0;}
#color-8 > li:nth-child(2) { background: #c7b4a6;}
#color-8 > li:nth-child(3) { background: #272628;} 

/* list-9 color */
#color-9 > li:nth-child(1) { background: #fff;}

/* list-10 color */
#color-10 > li:nth-child(1) { background: #3b4ea3;}
#color-10 > li:nth-child(2) { background: #b3ab98;}
#color-10 > li:nth-child(3) { background: #272628;}
#color-10 > li:nth-child(4) { background: #fff;} 

/* list-11 color */
#color-11 > li:nth-child(1) { background: #f0eeed;}
#color-11 > li:nth-child(2) { background: #272628 ;}

/* list-12 color */
#color-12 > li:nth-child(1) { background: #897774;}
#color-12 > li:nth-child(2) { background: #272628;}
#color-12 > li:nth-child(3) { background: #f0f1f0;}
#color-12 > li:nth-child(4) { background: #6a6856;}


/* pagination */
#pagination {
    text-align: center;
    color: #cc071e;
    margin: 60px auto 80px;
}
#pagination-text {
    font-size: 17px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#btn-more {
    margin-top: 35px;
    cursor: pointer;

    border: 1px solid #cc071e;
    padding: 0 25px 0 25px;
    line-height: 50px;
    background: transparent;
    border-radius: 50px;
    color: #cc071e;
    font-size: 15px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#btn-more:hover {
    background: #cc071e;
    color: #fff;
}


/* footer */
#footer {
    width: 100%;
    color: #172244;
    padding: 50px 0;
    font-size: 13px;
    border-top: 1px solid #172244;
    background-color: #33333312;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#footer-box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* 고객지원 */
#customer > h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
}
#customer > ul > li > a {
    display: block;
    margin-top: 10px;
    line-height: 1.3;
}
#customer > ul > li:last-child { font-weight: 700;}

/* 기업정보 */
#company > h4 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 30px;
}
#company > ul > li > a {
    display: block;
    margin-top: 10px;
    line-height: 1.3;
}
/* sns & copyR */
/* sns */
#footer-sns-copy {
    text-align: right;
    margin-left: 40px;
}
#sns-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#sns-menu > li > a {
    display: block;
    margin-left: 25px;
}
#sns-menu > li > a > img { width: 23px;}
/* copyR */
#copyR {
    margin-top: 150px;
    line-height: 1.3;
}
#notice { font-size: 15px;}
#copyR > p { margin-top: 10px;}
#f-link > a:hover { text-decoration: underline;}