@charset "utf-8";

@font-face {
    /* 고운돋움 */
    font-family: 'GowunDodum-Regular'; /* sans-serif 추가 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a { text-decoration: none; color: inherit;}
body { color: #333; background: #fff;}

/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/

/* top-banner */
#top-banner {
    width: 100%;
    margin: 0 auto;
    background: #35332b;
    text-align: center;
    color: #fff;

    position: fixed;
}
#bannerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
}
#topBanner {
    width: 670px;
    overflow: hidden;
}
#top-banner-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 35px;
}
#top-banner-content > li > a {
    display: block;
    width: 650px;
    font-size: 13px;
    overflow: hidden;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* top-banner 버튼 */
#bannerButtons > button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
#bannerButtons > button > span {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
#t-next, #t-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
}
#t-next {
    right: 25%;
    background: url(../images/explanationpage/top-right.svg) no-repeat;
    background-position: center;
    background-size: 10px 15px;
}
#t-prev {
    left: 25%;
    background: url(../images/explanationpage/top-left.svg) no-repeat;
    background-position: center;
    background-size: 10px 15px;
}

/* 내비게이션 */
#nav {
    width: 100px;
    height: 100vh;
    background: transparent;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.5s;
    z-index: 100;

    position: fixed;
    
    /* display: none; */
}
#nav:hover { background: #fcf9ee;}
#headerleft {
    height: 100%;
    padding-top: 60px;
}
/* 내비게이션 내용 */
#nav-bg {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 100px;
    bottom: 0;
}
#menu-box {
    position: fixed;
    top: 0;
    background: #fcf9ee;
    height: 100vh;
    font-size: 25px;
    padding: 120px 0 0 50px;
    width: 270px;
    z-index: 50;

    display: none;

    font-family: 'GowunDodum-Regular', sans-serif;
}
#gnb-inner > li > a {
    margin-bottom: 20px;
    display: block;
    line-height: 50px;
}
#gnb-inner > li:hover > a,
#gnb-inner > li > a:focus,
#gnb-inner > li.on > a { color: #b3b3b3;}

/* 서브메뉴 */
.sub { display: none;}
.sub {
    position: absolute;
    top: 0;
    left: 320px;
    width: 310px;
    height: 100vh;
    background: #fcf9ee;
    font-size: 16px;
    text-align: left;
    padding: 30px 20px 20px 20px;
    z-index: 30;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.sub > li > span {
    font-size: 18px;
    font-weight: 700;
}
.sub > li > span > a {
    font-size: 18px;
    font-weight: 700;
    display: block;
}
.sub > li > a { display: block;}
.list-sub { margin: 20px 0 30px 0;}
.list-sub > li > a {
    margin-bottom: 8px;
    display: block;
}
.sub > li > span > a:hover,
.list-sub > li > a:hover {
    color: #35332b;
    text-decoration: underline;
}

/* 햄버거 메뉴 */
.menu {
    width: 30px;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 10px 0 10px;
    left: 0;
    right: 0;

    position: absolute;
}
.bar {
    height: 3px;
    background: #555;
    margin: 8px 0;
    border-radius: 5px;
    transition: 0.9s;

    text-indent: -9999px;
}
.menu.on > div:nth-child(1) { transform: translateY(11px) rotate(45deg);}
.menu.on > div:nth-child(2) { opacity: 0;}
.menu.on > div:nth-child(3) { transform: translateY(-11px) rotate(-45deg);}

#listpage { text-decoration: underline;}


/* 로고 */
#logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}
#logo > a { display: block;}

/* 아이콘 */
#icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
}
#icons > li > a {
    display: block;
    margin-bottom: 30px;
}
#icons > li:last-child > a { margin-bottom: 0;}
#icons > li > a > img { width: 22px;}

/* 로컬 내비게이션 */
#lnb-box {
    margin: 0 auto;
    width: 1200px;
    padding: 80px 20px 80px 20px;
}
#lnb {
    display: flex;

    font-family: 'GowunDodum-Regular', sans-serif;
}
#lnb > li { 
    margin-right: 15px;
    display: flex;
}
#lnb > li > a {
    display: block;
    padding-right: 17px;
}
#lnb > li:first-child > a {
    background: url(../images/explanationpage/lnb-circle.svg) no-repeat;
    background-position: right;
    background-size: 4px;
}


/* content-grid */
#content-grid {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    column-gap: 45px;
}
#img-grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 45px;
}
#img-grid-main > li {
    text-align: center;

    font-family: 'GowunDodum-Regular', sans-serif;
}
.img-grid-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 45px;
}
.img-grid-side > li > img,
#img-grid-main > li > img {
    display: block;
    width: 370px;
}

#text {
    height: 100%;
    padding-top: 120px;
    box-sizing: border-box;
}
#text > h2 {
    font-size: 30px;
}
#text > p {
    line-height: 1.7;
    font-size: 14.5px;
    padding-top: 35px;
}


/* 센티드 메멘토 디렉터 설명 */
#mementos {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    background-color: #e9ede9;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    box-sizing: border-box;
}
#ex-text {
    line-height: 1.8;

    font-family: 'GowunDodum-Regular', sans-serif;
}
#ex-text > p:last-child {
    font-size: 14px;
    margin-top: 40px;
    line-height: 1.9;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ex-scented */
#ex-scented {
    margin: 0 auto;
    width: 1200px;
    background-color: #fcf9ee;
    box-sizing: border-box;
    padding: 40px;
}
.ex-big {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
    
.ex-big > img {
    display: block;
    width: 450px;
}
.scented-text > h3 {
    font-size: 26px;
    margin-bottom: 20px;

    font-family: 'GowunDodum-Regular', sans-serif;
}
.scented-text > p {
    font-size: 14px;
    line-height: 1.8;


    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#passiflora { 
    flex-direction: initial; 
    text-align: right;
}

#small-box { 
    margin: 100px;
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
}
.ex-small {
    display: flex;
    flex-direction: column-reverse;
}
.ex-small > img {
    display: block;
    width: 350px;
    margin-bottom: 20px;
}
#musk { 
    padding-top: 200px;
    text-align: right;
    white-space: nowrap;
}
#musk > img { margin-left: 195px;}


/* img scroll 투명도 조절 */
.fade-in {
    opacity: 1;
    transition-duration: 1000ms;
}
.fade-out {
    opacity: 0;
    transition-duration: 1000ms;
}


/* 스토리 속 제품 */
#story-product {
    margin: 100px auto;
    width: 1200px;
}
#story-product > h3 {
    font-size: 28px;

    font-family: 'GowunDodum-Regular', sans-serif;
}
#s-product {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 90px 0 130px 0;
}
#s-product > li > a {
    display: block;
    text-align: center;
    font-size: 14px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#s-product > li > a > img {
    display: block;
    margin-bottom: 40px;
    width: 180px;
    height: 280px;
    object-fit: scale-down;
    object-position: bottom;
}
.product-name {
    margin-bottom: 40px;
    line-height: 1.7;
}



/* footer */
#footer {
    width: 100%;
    background: #707270;
    color: #fcf9ee;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#footer-box {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
/* footer-sns */
#footer-sns {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
}
#footer-sns > li { margin-left: 25px;}
#footer-sns > li:first-child { margin-left: 0;}
#footer-sns > li > a { display: block;}
#footer-sns > li > a > img { width: 21px;}

/* footer-menu */
#footer-menu {
    padding: 25px 0 25px 0;
    border: 1px solid #f3eedc;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-between;
}
#f-menu-left { 
    display: flex;
    gap: 70px;
}
.f-menu > h4 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 15px;
}
.f-menu > ul > li > a {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
}
.f-menu > ul > li:last-child > a { margin-bottom: 0;}
#f-menu-right {
    font-weight: 700;
    text-align: right;
    font-size: 15px;
}
#f-menu-right > h4 > a {
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
}
/* /#footer-copyright */
#footer-copyright {
    padding-top: 25px;
    font-size: 13px;
}
#footer-copyright > p {
    margin-bottom: 20px;
    line-height: 1.5;
}
#footer-copyright > p:last-child { margin-bottom: 0;}